In [2]:
import pandas as pd
import numpy as np

In [24]:
notes = pd.Series([1, 7, 8, 9, 10, 12, 15, 17, 18, 19 ,20])
effectifs = pd.Series([2, 3, 2, 1, 5, 7, 2, 6, 2, 1, 1])

perStudent = round( effectifs[ (notes > 8) & (notes < 14) ].sum() / effectifs.sum(), 2 ) * 100

# print(perStudent)

effectifs[ notes < 10 ].sum()

(effectifs * notes).sum() / effectifs.sum()

ser = np.array([])
for i, note in notes.items():
    ser = np.concatenate( ( ser, np.array(  [note] * effectifs[i]  ) ) )

ser = pd.Series(ser)

print(ser.median())

quartile1 = ser.describe()['25%']
quartile2 = ser.describe()['75%']

12.0
12.0
0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     2
9     2
10    2
11    2
12    2
13    2
14    2
15    2
16    2
17    2
18    2
19    2
20    3
21    3
22    3
23    3
24    3
25    3
26    3
27    3
28    4
29    4
30    4
31    4
dtype: category
Categories (4, object): [1 < 2 < 3 < 4]
0      1.0
1      1.0
2      7.0
3      7.0
4      7.0
5      8.0
6      8.0
7      9.0
8     10.0
9     10.0
10    10.0
11    10.0
12    10.0
13    12.0
14    12.0
15    12.0
16    12.0
17    12.0
18    12.0
19    12.0
20    15.0
21    15.0
22    17.0
23    17.0
24    17.0
25    17.0
26    17.0
27    17.0
28    18.0
29    18.0
30    19.0
31    20.0
dtype: float64

0      (0.999, 9.333]
1      (0.999, 9.333]
2      (0.999, 9.333]
3      (0.999, 9.333]
4     (9.333, 16.333]
5     (9.333, 16.333]
6     (9.333, 16.333]
7      (16.333, 20.0]
8      (16.333, 20.0]
9      (16.333, 20.0]
10     (16.333, 20.0]
dtype: category
Categories (3, interval[float64]): [(0.999, 9.333] < (9.333, 16.333] < (16.333, 20.0]]

12.0